extends layout

block content
    .container-fluid
        .row.justify-content-center
            .col-12
            .title
                h2 Edit Profile
        .row.justify-content-center
            .col-12
            form.form.form--edit
                .form-group
                    label.mt-5(for='name') Name
                    input#name(class="form-control" type='text', value=`${user.name}`, required)
                .form-group
                    label.form__label(for='email') Email address
                    input#email(class="form-control" type='email', value=`${user.email}`,placeholder='your@example.com', required)
                .form-group.ma-bt-md
                    img.img-fluid(src=`/uploads/${user.photo}`, alt=`${user.name}`)
                .form-group.ma-bt-md
                    label(for='photo') 
                    input.form__upload(class="form-control-file" type='file', accept='image/*', id='photo', name='photo')
                .form-group
                    button.mt-5.btn.btn-outline-success submit