extends layout

//- include mixins/_tourForm


block content
  h1= title   
  .container
    .form-group
        h5 From:
        input(type="date" name="startDate"  class="form-control")
        h5 To:
        input(type="date" name="startDate"  class="form-control")
   
block scripts
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAP_KEY}&libraries=places`)