extends layout

block content
    .container-fluid
        form(action=`/tours/${tour.id}/book` method="POST")
            .form-group
                h5.mb-5 Full name
                input(class="form-control" type="text"  value=tour.price)   
                label(class="form-check-label") #{tour.startDate.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'}) } 
            .tour-form  
                label(for="price") How Many People
                input(class="form-control" type="number" name="numberOfPeople" value=1)   
            .form-group.mt-5       
                label(for="price") Total Amount
                input(class="form-control" type="number" name="totalAmount" value=tour.price)   
            input(type="submit" value="Save →" class="button")
