extends layout
include mixins/_newTourForm

block append head
    script(defer src="/javascript/tour_form.js")

block content
  h1= title   
  .container
    +newTourForm
block scripts
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAP_KEY}&libraries=places`)
    script(src="/javascript/autocompleteMap.js")