extends layout

block content
    .container-fluid
        .row.justify-content-center
            .col-12
            .title
                h2 Login to your account
        .row.justify-content-center
            .col-12
            form.form--login
                .form-group
                    label(for='email') Email address
                    input#email.form-control(type='email', placeholder='your@example.com', required)
                .form-group.ma-bt-md
                    label(for='password') Password
                    input#password.form-control(type='password', placeholder='••••••••')
                .form-group
                    button.mt-5.btn.btn-outline-success submit