extends layout

block content
    .container.my_bookings.text-center
        if allBookings.length === 0 
            h2 You dont have any bookings yet
            a(href="/tours")  
                button.btn.btn-info.mt-5 See Tours
        else                    
            h2.mb-5 Your bookings: 
            .row.justify-content-center
                each booking in allBookings
                    div(class="card" style="max-width: 450px")
                        if allBookings.length > 0
                        each booking in allBookings
                            a(href=`/tours/${booking.tour._id}`)  
                                    img.card-img-top(src=`/uploads/${booking.tour.imageCover}`)
                                    .card-body 
                                        h4 your booking dates
                                        p= booking.tour.startDate.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})
                            button.btn.btn-outline-danger(id="deleteBooking" data-bookingid=`${booking._id}`) Delete Booking    
                    