extends layout

block content
    .container.success
        .row.justify-content-center    
            .col-6.text-center
                h1 Yay! 🎉
                    h4.mt-5 Your reservation is confirmed.
                a(href="/tours")
                    button.mt-5.btn.btn-info Check more tours