extends layout

block content
    each tour in tours  
        .container-fluid
            .row  
                a(href=`/tours/${tour.id}`)  
                    .col-sm-12.col-lg-12.banner
                        .card.bg-dark.text-white
                            img.card-img.cover(src=`/uploads/${tour.imageCover}`)
                            .card-img-overlay
                                h1= tour.name 
                                .card-block
                                    span.price= `$ ${tour.price}`
                                    span.know-more Details >>
