body { padding: 0; margin: 0;}

/* layout navbar */
#navbar-main {
  border:1px solid red;
  justify-content: space-between;
  background: white;
  display: flex;
  align-items: center;
  /* /* height: 70px; */
  position: fixed;  
  top: -10px;
  left: 0;
  right: 0;
  z-index: 50;
  background: #fff;
}

#navbar-main .navbar-collapse {
  flex-grow: 0;
}
.navbar-nav .nav-item{
  display: block;
  width:150px;
}

.navbar-nav .nav-item p.user-name{
  padding-top:18px;
  padding-right:28px;
  font-size:30px;
}

.navbar-nav .nav-item a{
  padding-top:18px;
  font-size:30px;
 }

#navbar-main .navbar-brand img {
  border:1px solid red; 
  border-radius: 50%;
  width: 122px;
}

.dropdown img{
  width:80px;
  height:auto;
  border-radius: 50%;
}


/*  All tours */
body > .container-fluid{
  margin-top:140px;
}
body> .container-fluid ~ .container-fluid {
  margin-top: 0;
}
.banner{
  padding: 0;
}
.card-img-overlay  {
  position:absolute;
  background-size: cover;
  background-position: center;
  text-align:center;
}
.card-img-overlay h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
}

.card-img-overlay p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-block {
  background: #fff;
  color: #1e1e1e;
  position: absolute;
  left: 50%;
  bottom: 40px;
  padding: 6px 0;
  width: 270px;
  transform: translateX(-50%);
  /* border: 2px solid green; */
}
.card-block .price{
    color: #1e1e1e;
    border-right: 1px solid #1e1e1e;
    font-size: 15px;

}

.card-block .know-more{ 
    color: #1e1e1e;
    font-size: 15px;
}

.card-block>span {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: .2em 10px;
  font-size: .85em;
}

                              /* tour page  */
 
                            
.tour-title{
  margin-top:148px;
}
.title{
  text-align:center;
}

.container {
  padding: 0;
  border:2px solid green;
} 

.tour-info{
  background-color:#ebaf8f;
  color: #fff;
  text-align: center;
  font-size:20px;
  font-family: 'Karla', sans-serif;
}

.description{
  border-left: 1px solid white;
}

p.tour-date{
  font-size:40px;
  border-bottom: 2px solid white;
}
p.tour-price{
  font-size:40px;
}

p.tour-price span{
  font-size: 20px;
}



.card-category img{
  background-size: cover;
  background-position: center;
  width:300px;
  height: 300px;
}

.container{
  border: 3px solid blue;
  display: flex;
}
.reviews{
  width: 500px;
  border:2px solid red;

}
.reviewForm{
  width: 500px;
  border:2px solid red;

}

.review {
  background: white;
  border: 1px solid rgb(230, 22, 22);
  border-bottom: 0;
  border-bottom: 1px solid grey;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; 
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
} 
review:before {
  width: 5px;
  left: 0;
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  background-attachment: fixed;
} 
.review__header {
  border-bottom: 1px solid rgb(32, 201, 74);
  /* display: flex;
  flex-wrap: wrap */
} 
.review__header > * {
  border-right: 1px solid grey;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
} 
.review__header > *:last-child {
  border-right: 0;
}
.review__author {
  justify-content: flex-start;
  padding-left: 2rem;
  display: flex;
}
.review__author .avatar {
  margin-right: 2rem;
}
.review__time {
  font-size: 1.2rem;
  color: #999;
}
.review__stars {
  color: rgb(238, 209, 44);
}
.review__body {
  padding: 2rem;
}
.review p {
  white-space: pre-wrap;
}

/* MAP */
.locations{
  border:1px solid red
}
.container-fluid.map{
  padding:0;
  margin:0 auto;
}
#map{
  width:100%;
  height:600px;
  border:1px solid red;
}

/* .marker {
  background-image: url('../img/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
} */

/* .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    display:none !important;
    border-radius:50px !important;
} */
.mapboxgl-popup {
  max-width: 150px !important;
  max-height:20px !important;
}

.popUp_div {
  max-width: 60px;
  max-height:20px;
  border-radius: 50px !important;
  border:2px solid blue;
}

.mapboxgl-popup-content {
  border-radius: 10px !important;;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 25px 5px 10px 5px !important;
  font-size: 15px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}
.mapboxgl-popup-content.popUp_div {
  width:30px;
  border:2px solid blue;
}


/* REview form */
.reviewer {
  border:2px solid red;
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.reviewer__stars {
  display: flex;
  justify-content: center;
  color: grey
}
.reviewer__stars input {
  display: none;
}
.reviewer__stars input:checked ~ label {
  color: #f1cd39;
}
.reviewer__stars input + label {
  font-size: 0;
 /* These are in the opposite DOM order re-order them to be visually in normal order This is fine for accessibility because our labels have for() */
}
.reviewer__stars input + label:before {
  content: '★';
  font-size: 2rem;
}
.reviewer__stars input + label[for="star5"] {
  order: 5;
}
.reviewer__stars input + label[for="star4"] {
  order: 4;
}
.reviewer__stars input + label[for="star3"] {
  order: 3;
}
.reviewer__stars input + label[for="star2"] {
  order: 2;
}
.reviewer__stars input + label[for="star1"] {
  order: 1;
}
.reviewer__stars input + label:hover, .reviewer__stars input + label:hover ~ label {
  color: rgb(231, 177, 60);
}
.reviewer textarea {
  border: 0;
  outline: 0;
  font-size: 2rem;
  padding: 2rem;
  height: 200px;
}
.reviewer__meta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
}
.reviewer__meta > * {
  flex: 1;
}




/*     FORM  */
.extralocations{
  border:2px solid red;
}

.hidden{
  display: none;
}

.plus{
  border: 1px solid blue;
  width:40px;
  border-radius: 50px;
}