body { padding: 0; margin: 0;}

/* layout navbar */
#navbar-main {
  justify-content: space-between;
  background: white;
  display: flex;
  align-items: center;
  position: fixed;  
  top: -10px;
  left: 0;
  right: 0;
  z-index: 50;
  background: #fff;
  color:rgb(96, 95, 95);
}

#navbar-main .navbar-collapse {
  flex-grow: 0;
}
.navbar-nav .nav-item{
  display: block;
  width:270px;
  text-align:center;
  color:rgb(96, 95, 95);
}

#logout a{
  color:rgb(96, 95, 95);
}

.navbar-nav .nav-item p.user-name{
  padding-top:18px;
  padding-right:28px;
  font-size:30px;
}

.user-name{text-transform:capitalize;}

.navbar-nav .nav-item a{
  padding-top:18px;
  font-size:30px;
 }

#navbar-main .navbar-brand img {
  border-radius: 50%;
  width: 122px;
}

.dropdown img{
  width:80px;
  height:auto;
  border-radius: 50%;
}

.dropdown a.dropdown-item{
  font-size:20px;
}

/* User account */
.account-form{
  border:1px solid red;
}


                                          /*  All tours */
body > .container-fluid{
  margin-top:140px;
}
body> .container-fluid ~ .container-fluid {
  margin-top: 0;
}
.banner{
  padding: 0;
}
.card-img-overlay  {
  position:absolute;
  background-size: cover;
  background-position: center;
  text-align:center;
}
.card-img-overlay h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
}

.card-img-overlay p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-block {
  background: #fff;
  color: #1e1e1e;
  position: absolute;
  left: 50%;
  bottom: 40px;
  padding: 6px 0;
  width: 270px;
  transform: translateX(-50%);
  /* border: 2px solid green; */
}
.card-block .price{
    color: #1e1e1e;
    border-right: 1px solid #1e1e1e;
    font-size: 15px;

}

.card-block .know-more{ 
    color: #1e1e1e;
    font-size: 15px;
}

.card-block>span {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: .2em 10px;
  font-size: .85em;
}

                              /* tour page  */
 
                            
.tour-title{
  margin-top:148px;
}
.title h1{
  text-align:center;
  font-size: 70px;
  letter-spacing: 2.2px;
  color:rgb(96, 95, 95);
}

.container {
  padding: 0;
} 

.tour-info{
  background-color:#ebaf8f;
  color: #fff;
  text-align: center;
  font-size:20px;
  font-family: 'Karla', sans-serif;
}

.description{
  border-left: 1px solid white;
}

p.tour-date{
  font-size:40px;
  border-bottom: 2px solid white;
}
p.tour-price{
  font-size:40px;
}

p.tour-price span{
  font-size: 20px;
}

.reviews{
  width: 500px;
}
.reviewForm{
  width: 500px;
  border:2px solid red;

}

.reviews-wrapper{
  background-color: rgb(255, 255, 255);
  color:black;
  font-size:20px;
}
.author-name:first-letter{
  text-transform:capitalize;
}
.review__stars {
  color: rgb(238, 209, 44);
}

/* footer */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none !important;
  font-size: 24px;
  padding: 0px 10px;
  font-family: 'FontAwesome' !important;
}

.footer-links a i {
  font-style:normal;
}
.footer-copyright{
  border:2px solid red;
}


/* MAP */

.container-fluid.map{
  padding:0;
  margin:0 auto;
}
#map{
  width:100%;
  height:600px;
}

.mapboxgl-popup {
  max-width: 250px !important;
  max-height:80px !important;
}

.popUp_div {
  max-width: 100px;
  max-height:20px;
  border-radius: 50px !important;
  border:2px solid blue;
}

.mapboxgl-popup-content {
  border-radius: 10px !important;;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 25px 5px 10px 5px !important;
  font-size: 15px;

  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}


/* REview form */
.reviewer {
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.reviewer__stars {
  display: flex;
  justify-content: center;
  color: grey
}
.reviewer__stars input {
  display: none;
}
.reviewer__stars input:checked ~ label {
  color: #f1cd39;
}
.reviewer__stars input + label {
  font-size: 0;
 /* These are in the opposite DOM order re-order them to be visually in normal order This is fine for accessibility because our labels have for() */
}
.reviewer__stars input + label:before {
  content: '★';
  font-size: 2rem;
}
.reviewer__stars input + label[for="star5"] {
  order: 5;
}
.reviewer__stars input + label[for="star4"] {
  order: 4;
}
.reviewer__stars input + label[for="star3"] {
  order: 3;
}
.reviewer__stars input + label[for="star2"] {
  order: 2;
}
.reviewer__stars input + label[for="star1"] {
  order: 1;
}
.reviewer__stars input + label:hover, .reviewer__stars input + label:hover ~ label {
  color: rgb(231, 177, 60);
}
.reviewer textarea {
  border: 0;
  outline: 0;
  font-size: 1rem;
  padding: 2rem;
  height: 200px;
}
.reviewer__meta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
}
.reviewer__meta > * {
  flex: 1;
}




/*  TOUR   FORM  */
.new_tour{
  margin-top: 148px;
}

.edit_tour{
  margin-top: 148px;
}

.hidden{
  display: none;
}

.plus{
  border: 1px solid blue;
  width:40px;
  border-radius: 50px;
}



                /*  Login*/

.form--login{
  margin-top:200px;
}               

.card-footer a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

 
 /* User Pages */
 .my_bookings{
   margin-top:148px;
 }

 .success{
  margin-top:190px;
 }


 /* alert */

 .alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 10rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

 /* Media queries */

 @media screen and (max-width: 768px){
  .title{
    margin-top:100px;
  }
  body > .container-fluid{
    margin-top:100px;
  }
  #navbar-main .navbar-brand img {
    margin-top:10px;
    width: 90px;
  }
  .card-img-overlay h1 {
    letter-spacing: 2px;
    font-size: 35px;
  }
  .card-block {
    width: 170px;
  }
  .card-block .price{
    font-size: 13px;
  }
  
  .card-block .know-more{ 
    font-size: 13px;
  }
  
  .card-block>span {
    padding: .2em 8px;
    font-size: 10px;
  }
  .alert {
    font-size: .8rem;
  }
 }

 @media screen and (max-width: 613px) {
  .title{
    margin-top:100px;
  }
  .alert {
    font-size: .6rem;
  }

 }


 @media screen and (max-width: 576px) {
  .tour-title{
    margin-top:100px;
  }
  .title h1{
    margin-top:10px !important;
    text-align:center;
    font-size: 35px;
    letter-spacing: 2.2px;
    color:rgb(96, 95, 95);
  }
  .tour-pics{
    margin-top:10px !important;
  }

  .info{
    margin-top:10px !important;
  }
  .tour-info{
    font-size: 20px;
  }
  .tour-info.about {
    border-bottom: 2px solid white;
  }
  .about {
    margin-top:0 !important;
  }
  .about p{
    border-bottom: 2px solid white;
  }
  
  .description{
    margin-top:0 !important;
  }

  p.tour-price{
    font-size: 25px !important;
  }
  p.tour-price span{
    font-size: 10px !important;
  }
  p.tour-date{
    margin-top:0 !important;
    padding-bottom:20px !important;
    font-size: 20px;
    border-bottom: none;
  }
  .book{ 
    margin-top:0 !important;
  }
  .description.book button{ 
    margin-top:0 !important;
  }

  body > .container-fluid{
    margin-top:95px;
  }
  #navbar-main .navbar-brand img {
    margin-top:10px;
    width: 70px;
  }
  .card-img-overlay h1 {
    letter-spacing: 2px;
    font-size: 25px;
  }
  .card-block {
    bottom: 20px;
    padding: 2px 0;
    width: 150px;
  }
  .card-block .price{
    font-size: 10px;
  }
  
  .card-block .know-more{ 
    font-size: 10px;
  }
  
  .card-block>span {
    padding: .2em 8px;
    font-size: 10px;
  }

  .reviews p{
    font-size:10px;
  }

  .new-review{
    margin-top:20px;
  }

  .alert {
    font-size: .6rem;
  }

 }
