/* layout navbar */
#navbar-main {
  border:1px solid red;
  justify-content: space-between;
  background: white;
}

#navbar-main .navbar-collapse {
  flex-grow: 0;
}

#navbar-main .navbar-brand img {
  border:1px solid red; 
  border-radius: 50%;
  width: 100px;
}

.dropdown img{
  width:100px;
  height:auto;
  border-radius: 50%;
}

.tours-wrapper{
  width:80%;
  display:flex;
  flex-wrap:wrap;
  border:1px solid red; 
  margin:0 auto;
}
.tours-wrapper a{
  text-decoration: none !important;
}

.card-trip {
  /* border:1px solid blue;  */
  width:400px;
  margin:30px 50px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  cursor:pointer;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition:all ease-in-out .2s;

  
}
.card-trip > img:hover{
  width: 105%;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card__data {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__data svg {
  margin:20px;
}
.card__icon {
  height: 20px;
  width: 20px;
  fill: #55c57a;
}
  
/* tour page  */
.card-category img{
  background-size: cover;
  background-position: center;
  width:300px;
  height: 300px;
}

.container{
  border: 3px solid blue;
  display: flex;
}
.reviews{
  width: 500px;
  border:2px solid red;

}
.reviewForm{
  width: 500px;
  border:2px solid red;

}

.review {
  background: white;
  border: 1px solid rgb(230, 22, 22);
  border-bottom: 0;
  border-bottom: 1px solid grey;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* position: relative; */
  padding-left: 5px;
   display: flex;
  flex-wrap: wrap
}
/* .review:before {
  width: 5px;
  left: 0;
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  background-attachment: fixed;
} */
.review__header {
  border-bottom: 1px solid rgb(32, 201, 74);
  /* display: flex;
  flex-wrap: wrap */
}
/* .review__header > * {
  border-right: 1px solid grey;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
} */
.review__header > *:last-child {
  border-right: 0;
}
.review__author {
  justify-content: flex-start;
  padding-left: 2rem;
  display: flex;
}
.review__author .avatar {
  margin-right: 2rem;
}
.review__time {
  font-size: 1.2rem;
  color: #999;
}
.review__stars {
  color: rgb(238, 209, 44);
}
.review__body {
  padding: 2rem;
}
.review p {
  white-space: pre-wrap;
}

/* MAP */
.locations{
  border:1px solid red
}
#map{
  width:600px;
  height:70vh;
  border:1px solid red;
}

.marker {
  background-image: url('../img/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;
  border:2px solid blue;
  
  /* border: 30px; */ 
}
.popUp_div {
  width:30px;
  border:2px solid blue;
}

.mapboxgl-popup-content {
  
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem !important;
  font-size: 1rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}
.mapboxgl-popup-content.popUp_div {
  width:30px;
  border:2px solid blue;
}


/* REview form */
.reviewer {
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.reviewer__stars {
  display: flex;
  justify-content: center;
  color: grey
}
.reviewer__stars input {
  display: none;
}
.reviewer__stars input:checked ~ label {
  color: #f1cd39;
}
.reviewer__stars input + label {
  font-size: 0;
 /* These are in the opposite DOM order re-order them to be visually in normal order This is fine for accessibility because our labels have for() */
}
.reviewer__stars input + label:before {
  content: '★';
  font-size: 2rem;
}
.reviewer__stars input + label[for="star5"] {
  order: 5;
}
.reviewer__stars input + label[for="star4"] {
  order: 4;
}
.reviewer__stars input + label[for="star3"] {
  order: 3;
}
.reviewer__stars input + label[for="star2"] {
  order: 2;
}
.reviewer__stars input + label[for="star1"] {
  order: 1;
}
.reviewer__stars input + label:hover, .reviewer__stars input + label:hover ~ label {
  color: rgb(231, 177, 60);
}
.reviewer textarea {
  border: 0;
  outline: 0;
  font-size: 2rem;
  padding: 2rem;
  height: 200px;
}
.reviewer__meta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
}
.reviewer__meta > * {
  flex: 1;
}




/*     FORM  */
.extralocations{
  border:2px solid red;
}

.hidden{
  display: none;
}

.plus{
  border: 1px solid blue;
  width:40px;
  border-radius: 50px;
}